[Unit]
Description=Interruptible Workload

[Service]
Type=exec
Restart=no
RestartSec=5s
WorkingDirectory=/usr/share/worker-0.1.0
ExecStart=/usr/share/worker-0.1.0/interruptible-workload

[Install]
WantedBy=multi-user.target
